body {
  margin: 20px 40px;
  text-align: center;
  font-family: 'Markazi Text';
}

header {
  display: flex;
  column-gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.header-nav {
  ul {
    display: flex;
    column-gap: 15px;
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
  }

  li:last-child {
    margin-left: 40px;
  }
}

a:hover {
  color: #495E57;
}

footer {
  display: flex;
  column-gap: 40px;
  justify-content: center;

  article {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Karla';
  }

  .detail-title {
    font-weight: 600;
  }

  ul {
    text-align: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
}