html {
  display: flex;
  justify-content: center;
}

body {
  margin: 20px 20px;
  text-align: center;
  font-family: 'Markazi Text';
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 1191px;
}

main {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

header {
  display: flex;
  column-gap: 50px;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.header-nav {
  ul {
    display: flex;
    column-gap: 15px;
    list-style-type: none;
    flex-wrap: wrap;
    row-gap: 5px;
    justify-content: center;
  }

  a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
  }

  li:last-child {
    margin-left: 40px;
  }
}

a:hover {
  color: #495E57;
}

footer {
  display: flex;
  column-gap: 40px;
  flex-wrap: wrap;
  margin-top: 20px;
  row-gap: 30px;
  justify-content: space-evenly;

  article {
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  .title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Karla';
  }

  .detail-title {
    font-weight: 600;
  }

  ul {
    text-align: left;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
  }

  li {
    margin-bottom: 5px;
  }

  a {
    text-decoration: none;
    color: #000000;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.call-to-action {
  display: flex;
  column-gap: 10px;
  background-color: #495E57;
  text-align: left;
  padding: 10px 20px;
  justify-content: space-between;

  h1 {
    color: #F4CE14;
    font-size: 64px;
    font-weight: bold;
    margin: 0px;
  }

  h5 {
    color: #EDEFEE;
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
  }

  p {
    color: #EFEFEE;
    font-family: 'Karla';
    font-size: 20px;
    margin: 20px 0px 10px 0px;
    height: 115px;
  }
}

button {
  background-color: #F4CE14;
  border-radius: 15px;
  width: 200px;
  height: 60px;
  color: #000000;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
}

button:hover {
  background-color: #ccad11;
}

button:active {
  box-shadow: inset 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.specials {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  padding: 0px 20px;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dish-container {
    display: flex;
    column-gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;

    .dish-card {
      display: flex;
      flex-direction: column;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
      border-radius: 10px 10px 0px 0px;
    }

    .dish-detail {
      width: 265px;
      background-color: #EDEFEE;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px;
      width: 225px;
      height: 215px;

      .dish-detail-top {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      }

      .name-price {
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        align-items: center;

        .name {
          font-size: 24px;
        }

        .price {
          font-size: 18px;
          color: #EE9972;
        }
      }

      .dish-description {
        font-family: 'Karla';
        font-size: 16px;
        color: #495e57;
        text-align: left;
      }

      .order-row {
        display: flex;
        column-gap: 10px;
        align-items: center;

        .order {
          font-family: 'Karla';
          font-size: 16px;
          font-weight: bold;
        }
      }
    }
  }
}

h2 {
  font-size: 40px;
  font-family: 'Karla';
}

.customers-says {
  background-color: #495E57;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0px 20px 20px 10px;

  .rating-card-container {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .rating-card {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 200px;
    background-color: #EDEFEE;
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 10px;

    .rating-row {
      display: flex;
      align-items: center;
      column-gap: 3px;
      font-size: 16px;
      font-weight: bold;
    }

    .review-text {
      text-align: left;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
    }
  }
}

h1 {
  font-size: 64px;
  font-weight: bold;
  color: #495E57;
}

.booking-form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-bottom: 40px;

  .input-field {
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  label {
    width: 235px;
    text-align: left;
    font-size: 32px;
    color: #495E57;
  }

  input,
  select {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    color: #495E57;
  }

  input[type="date"] {
    width: 276px !important;
    padding: 0px 10px;
  }

  select {
    appearance: none;
    height: 44px;
    text-align: center;
  }

  input[type="number"] {
    width: 276px !important;
    padding: 0px 10px;
  }

  input[type="radio"] {
    width: 30px;
    height: 30px;
  }

  .radio-label {
    width: 100px;
  }

  input[type="text"] {
    padding: 0px 10px;
    width: 276px;
    height: 40px;
  }

  textarea {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;
    color: #495E57;
    padding: 5px 10px;
    width: 276px;
  }
}